{% extends "dashboard/layouts/base.html" %}

{% load static %}

{% block title %}Product{% endblock %}

{% block style %}
<style>
    .form-group > input[name='is_active']{
        display: flex;
        gap: 20px;
    }

    input[name='is_active']{
        width: 20px;
        height:20px;
    }

    tr input[type="number"], tr input[type="text"]{
        height: 28px;
    }
</style>
{% endblock style %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'dashboard:home' %}"> Dashboard</a>
</li>
<li class="breadcrumb-item" aria-current="page">Product</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>Coupon Form </h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in form %}
                        <div class="form-group col-md-12 mb-4" >
                            <label>{{ field.label }}{% if field.field.required %}* {% endif %}</label>
                            {{ field }}
                            <span style="color:red;">{{ field.errors|striptags|safe }}</span>
                        </div>
                        {% endfor %}  
                        <table class="table form-table table-bordered table-sm">
                            <thead class="text-center">
                                <tr>
                                    <th>Title</th>
                                    <th>Color</th>
                                    <th>Size</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th> <button type="button" class="btn btn-sm btn-success add-form-row"
                                        id="{{ formset.prefix }}">
                                        <i class="fas fa-plus"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                    
                                {{ formset.management_form }}

                                {% for form_data in formset %}
                                {% for hidden in form_data.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}

                                <tr class="item">
                                    <td>
                                        {{ form_data.title }}
                                    </td>
                                    <td>
                                        {{ form_data.color }}
                                    </td>
                                    <td>
                                        {{ form_data.size }}
                                    </td>
                                    <td>
                                        {{ form_data.quantity }}
                                    </td>
                                    <td>
                                        {{ form_data.price }}
                                    </td>
                                    <td>
                                    {{ form_data.DELETE }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm remove-form-row" id="{{ formset.prefix }}">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="form-footer pt-4 pt-5 mt-4 border-top" style="text-align:right">
                            <button type="submit" class="btn btn-primary btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    var replacement = prefix + '-' + ndx + '-';
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
    replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}

function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (formCount < 1000) {
        // Clone a form (without event handlers) from the first form
        var row = $(".item:last").clone(false).get(0);

        // Insert it after the last form
        $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

        // Remove the bits we don't want in the new row/form
        // e.g. error messages
        $(".errorlist", row).remove();
        $(row).children().removeClass("error");

        // Relabel or rename all the relevant bits
        $(row).find('.formset-field').each(function () {
            updateElementIndex(this, prefix, formCount);
            $(this).val('');
            $(this).removeAttr('value');
            $(this).prop('checked', false);
        });

        // Add an event handler for the delete item/form link
        $(row).find(".delete").click(function () {
            return deleteForm(this, prefix);
        });
        // Update the total form count
        $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);

    } // End if

    return false;
}


function deleteForm(btn, prefix) {
      var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (formCount > 1) {
          // Delete the item/form
          var goto_id = $(btn).find('input').val();
          if( goto_id ){
            $.ajax({
                url: "/" + window.location.pathname.split("/")[1] + "/formset-data-delete/"+ goto_id +"/?next="+ window.location.pathname,
                error: function () {
                  console.log("error");
                },
                success: function (data) {
                  $(btn).parents('.item').remove();                 
                },
                type: 'GET'
            });
          }else{
            $(btn).parents('.item').remove();
          }

          var forms = $('.item'); // Get all the forms
          // Update the total number of forms (1 less than before)
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          var i = 0;
          // Go through the forms and set their indices, names and IDs
          for (formCount = forms.length; i < formCount; i++) {
              $(forms.get(i)).find('.formset-field').each(function () {
                  updateElementIndex(this, prefix, i);
              });
          }
      } // End if

      return false;
  }
  

  $("body").on('click', '.remove-form-row',function () {
    deleteForm($(this), String($('.add-form-row').attr('id')));
  });

  $("body").on('click', '.add-form-row',function () {
      console.log(String($(this).attr('id')))
      return addForm($(this), String($(this).attr('id')));
  });
</script>
{% endblock %}    

