class Project(DateTimeModel):
    government = models.ForeignKey(Government,related_name='projects', null=True, on_delete=models.CASCADE) 
    identifier = models.CharField(max_length=255)
    title = models.CharField(max_length=255)
    type_of_expense = models.ForeignKey(ExpenseType, on_delete=models.CASCADE)

class ProjectExpenditureTitle(DateTimeModel):
    project = models.ForeignKey(Project, related_name='project_expenditure', on_delete=models.CASCADE)
    expenditure_title = models.ForeignKey(ExpenditureTitle, related_name='project_expenditure', on_delete=models.CASCADE)

class ExpenditureTitle(DateTimeModel):
    identifier = models.CharField(max_length=255)
    secondary_identifier = models.CharField('max_length=255)
    type_of_expense = models.ForeignKey(ExpenseType,on_delete=models.CASCADE)
    title = models.CharField(max_length=255)

